body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
  }

  header{
    display: grid;
    row-gap: 10px;
    height: 120px;
    background-color: #20b2aa;
    color: #fff;
}

.grid-item h1{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.grid-item h3{
    font-size: 15px;
    text-align: left;
    font-variant: small-caps;
    margin-left: 60px;
}
main{
    display: block;
    background-color: #eee;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 1px 1px 2px #eee;
    border-radius: 10px;
}

.reg{
    font-size: large;
    text-transform: capitalize;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}

#wrapper{
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: #efffe0;
}

form{
    width: 50%;
    margin: 100px auto;
}

form .inputForm{
    width: 80%;
    margin: 0 auto;
}

form div{
    margin: 3px auto;
}

form div label{
    font-weight: bold;
   
}

.textInput{
    margin-top: 2px;
    height: 28px;
    border-bottom: 1px solid #5e6e66;
    font-size: 16px;
    padding: 2px;
    width: 100%;
    margin: 2px;
}

#roles{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px 5px 0;
    background: none;
    border: none;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn{
    background-color: #333;
    color: white;
    width: 80%;
    height: 35px;
    margin: 10px auto;
}

.btn:focus{
    outline: none;
    border-bottom: 1px solid #666;
}

.val_error{
    color: #ff1f1f;
}

h4, p{
    font-size: small;
    color:#333;
    text-align: right;
}

p.putInfo{
   text-align: left;
   padding: 5px;
   margin-top: 0px;
}

p.putInfo a{
    font-size: large;
    font-weight: bold;
}

p.cont{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.registration a:link, p a:link{
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

.registration a:visited, p a:visited{
    color: blue;
}

.registration a:hover, p a:hover{
    color: red;
}

.registration a:active, p a:active{
    color: yellow;
}

@media only screen and (min-width: 1280px){
   header h1{
    font-size: larger;
   }

    header h3{
        font-size: large;
   }

   main{
       width: 80%;
       margin-top: 120px;
   }

   table, tr, th, td{
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
   }

}